.container {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
}

.heading {
  color: #333;
  text-align: center;
}

.users-heading {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.user-container {
  position: relative;
  overflow: hidden;
  transition: height 0.5s;
  /* ### */
}

.user-name {
  font-size: 16px;
}

.toggle-button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.toggle-button.close-button {
  background-color: #f44336;
}

.update-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin: auto;
  margin-bottom: 50px;
}

.form-fields {
  margin-bottom: 10px;
  margin: 10px auto;
  width: 250px;
}

.update-button {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  cursor: pointer;
  width: 100px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.toggle-button {
  /* background-color: #3498db;  */
  color: #fff; /* Set the initial text color */
  padding: 8px 12px;
  border: none;
  cursor: pointer;
}

.toggle-button.red {
  background-color: #e74c3c; /* Change the background color to red */
}

.form-fields-second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin: 10px auto;
  width: 250px;
}

.product-container {
  position: relative;
  overflow: hidden;
  transition: height 0.5s;
}

.product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 16px;
}

.product-container {
  max-width: 800px;
  margin: auto;
}

.product-container {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  transition: background-color 0.3s ease;
  flex-direction: column;
  margin: 15px;
}
