.basket {
    position: absolute;
    /* margin-left: 30px; */
    /* margin-top: 50px !important; */
}

.basket-container {
    /* position: fixed; */
    /* margin: 15px 10px 0px 10px; */
    /* margin-left: 50%; */
    /* position: absolute; */
    display: flex;
    width: 15%;
    justify-content: end;
}

@media (max-width: 772px) {
    .basket-container {
      /* margin-left: 25px; */
    }
  }

.toggle-basket-button{
    /* margin-top: -20px; */
    display: flex;
    margin-left: 22px;
}